<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/stylesheets/style.css">
  
</head>

<body class="bg">
  <div class="qq">
    <span class="">
      <p id='ma'></p>
      <button id="getma" class="btn btn-success save-btn">Get code</button>
    </span>
    <span class="">
      <button class="  btn save-btn"><a href="https://www.classmarker.com/register/online-test-taker/"
          style="color: #e9edf5 ;">Let's go!</a> </button>

    </span>
  </div>

</body>
<script src="https://code.jquery.com/jquery-git.min.js"></script>
<script>
  $("#getma").click(function () {
    $.ajax({
      url: '/v1/api',
      type: "GET",
      success: data => {
        $("#ma").text(data);
      }
    });
  });

</script>

</html>