<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="bg" style="background-image: linear-gradient(to bottom right,black, red, yellow,#fff); height: 625px;">

    <div class="wrapper ">
        <form class="form-signin" action="/api/singin" method="POST">
            <h2 class="form-signin-heading"> 
                Login
                <i class="fa fa-facebook icon-block9"></i>
                <i class="fa fa-github-square icon-block9"></i>
            </h2>
            <input type="text" class="form-control" name="email" placeholder="Email Address" required=""
                autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Go >=<i class="fa fa-fighter-jet"></i></button>
        </form>
    </div>
</body>


<script>

    $.ajax({
      url: '/api/find',
      method: 'get'
    }).then((data1) => {
      for (let i = 0; i < data1.length; i++) {
        $(".data-table tbody").append(`
      <tr data-email='${data1[i].email}'  data-password='${data1[i].password}' id='${data1[i]._id}'>
        <td id="email_${data1[i]._id}">${data1[i].email}</td>
        <td id="password_${data1[i]._id}">${data1[i].password}</td>
        <td>
          <button class='btn btn-info btn-xs btn-update'  id='put_${data1[i]._id}' onclick="updates('${data1[i]._id}')" >Update</button>
         
          <button class='btn btn-danger btn-xs btn-delete' id='${data1[i]._id}' onclick="deletes('${data1[i]._id}')">Delete</button>
        </td>
      </tr>`);
      }
    })
</script>

















<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</html> 