<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .fireworks{
            background: url(./imgGirl/fireworks.png);
            width: 118.333px;
            height:118.333px;
            text-align: center;
            animation: mymove 1s steps(6) infinite, mymoveY 3s steps(3) infinite;
        }
        @keyframes mymove {
            100%{background-position-x: -710px;}
        }
        @keyframes mymoveY {
            100%{background-position-y: -355px;}
        }
    </style>
</head>
<body>
    <div class="fireworks">

    </div>
</body>
</html>