<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Login</title>
    
</head>

<body style="background-image: linear-gradient(to bottom right,black, red, yellow,#fff); height: 625px;">
    <div class="wrap">
        <div class="left-contain">
            <div class="images"></div>
            <form method="POST" action="http://localhost:3000/login">
                <div class="form-group from">
                    <label for="exampleInputEmail1"><h5>Name</h5></label>
                    <input type="text"  name="Name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group from">
                    <label for="exampleInputPassword1"><h5>Password</h5></label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="Password" placeholder="Password">
                    <i id="btnEye" class="fa fa-eye-slash" onclick="change()"></i>  
                </div>
                <button type="submit" class="btn btn-primary button">Login</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
<script language="javascript">

    function change(){
        var btn = document.getElementById('btnEye')
        if(btn.getAttribute('class') == 'fa fa-eye show-pass'){
            btn.setAttribute('class', 'fa fa-eye-slash ');
            document.getElementById('exampleInputPassword1').setAttribute('type', 'password');
           
        } else {
            btn.setAttribute('class', 'fa fa-eye show-pass');
            document.getElementById('exampleInputPassword1').setAttribute('type', 'text');
        }
        
    }
 
</script>
</html>