* {
      margin: 0;
      padding: 10px;
      box-sizing: border-box;
    }

    .bg {
      background-image: url('../img/3.png');
      background-repeat: no-repeat;
      background-size: 100% auto;


    }

    .btn {
     

      background: none;
      font-weight: 200 ;
      border: 2px solid #e9edf5;
      padding: 10px;
      display: inline-block;
      color: #e9edf5;
      font-size: 40px;
      font-family: sans-serif;
    }


    .qq {
      text-align: center;
      
    }

    #ma {
      font-size: 40px;
      color: #e9edf5;
    }
 