* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block1 header nav {
    background: rgba(0, 0, 0, 0.4);

}
.content {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
}
.content2 {
    margin-left: auto;
    margin-right: auto;   
}
.content3 {
    margin-left: auto;
    margin-right: auto;   
}
@media (max-width: 768px) {
    .content {
        margin-bottom: 1rem !important;
    }
}
.icon-home {
    font-size: 25px !important;
    border: 1px solid;
    padding: 15px;
    margin: 0 5px;
}
.footer {
    background: #1a1b1d;
    padding: 80px 0;
    font-size: 14px;
}

